{% extends "base.html" %}
{% load thumbnail %}
{% block title %}{{ object.title }}{% endblock %}
{% block content %}
    <div class="block">
        <div class="blockbig">
            <h1 class="rubrika"><a href=""></a><a href="{% url "document-list" %}">Documents</a></h1>
            <div id="node-128" class="node">
                <div class="teaser content">

                    <h2>{{ object.title }}</h2>

                    {{ object.content|safe }}
                    <hr>
                </div>
                <div class="clear-block">
                    <div class="meta">
                    </div>

                </div>
            </div>
        </div>
        <div class="blocksmall">
            {% include "news-block.html" %}
            <div class="pad"></div>
            {% include "events-block.html" %}
        </div>
    </div>
{% endblock %}