{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Feedback{% endblock %}
{% block content %}
    <div class="block">
        <div class="blockbig">
            <div id="node-22" class="node">

                <!-- <span class="submitted">Post on 03/16/2012 - 15:33</span> -->

                <div class="teaser content">
                    <h2>Contact Us</h2>

                    <p>Country: Ukraine<br>
                        City: Kiev<br>
                        Phone: +38 095 444 55 22<br>
                        Fax: +38 095 444 55 22</p>

                    <p>Street: Mechnikova 14/1</p>

                    <form action="" method="post">{% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Submit"/>
                    </form>
                </div>
            </div>
        </div>
        <div class="blocksmall">
            {% include "news-block.html" %}
            <div class="pad"></div>
            {% include "events-block.html" %}
            <div class="pad"></div>
            {% include "documents-block.html" %}
        </div>
    </div>
{% endblock %}