{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Members{% endblock %}
{% block content %}
    <div class="block">
        <div class="blockbig">
            <div class="membersblock">
                <div class="memberscol">

                    {% for country in countries %}
                        <h1 class="rubrika"><a name="{{ country.name }}">{{ country.name }}</a></h1>
                        {% for member in country.member_set.all %}
                            <a href="{{ member.get_absolute_url }}">{{ member.name }}</a>

                        {% endfor %}
                        {% if country.name == "Germany" or country.name == "Russia" %}
                            </div>
                            <div class="memberscol">
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="blocksmall">
            {% include "news-block.html" %}
            <div class="pad"></div>
            {% include "events-block.html" %}
            <div class="pad"></div>
            {% include "documents-block.html" %}
        </div>
    </div>
{% endblock %}