{% extends "base.html" %}
{% load thumbnail %}
{% block title %}{{ object.name }}{% endblock %}
{% block content %}
    <div class="block">
        <div class="blockbig">
            <h1 class="rubrika"><a href=""></a><a href="{% url "member-list" %}">Members</a> /
                <a href="{% url "member-list" %}#{{ object.country }}">{{ object.country }}</a> /
                <a href="#">{{ object.name }}</a>
            </h1>

            <div class="teaser content membersblog">
                {% thumbnail object.image "274x412" crop="center" as im %}
                        <img src="{{ im.url }}">
                {% endthumbnail %}

                <h2>{{ object.name }}</h2>

                {{ object.cv|safe }}
                <span class="buttonsmall"><a href="{% url "member-list" %}">Back</a></span>
            </div>
            <hr>
        </div>
        <div class="blocksmall">
            {% include "news-block.html" %}
            <div class="pad"></div>
            {% include "events-block.html" %}
            <div class="pad"></div>
            {% include "documents-block.html" %}
        </div>
    </div>
{% endblock %}