{% extends "base.html" %}
{% load thumbnail %}
{% block title %}{{ object.title }}{% endblock %}
{% block content %}
    <div class="block">
        <div class="blockbig">
            <h1 class="rubrika"><a href=""></a><a href="{% url "post-list" %}">News</a></h1>


            <div id="node-128" class="node">

                <div class="teaser content">
                    {% thumbnail object.image "274x152" crop="center" as im %}
                        <img src="{{ im.url }}">
                    {% endthumbnail %}

                    <h2>{{ object.title }}</h2>

                    {{ object.content|safe }}
                    <hr>
                </div>

                <div class="clear-block">
                    <div class="meta">
                    </div>

                </div>

            </div>
        </div>
        <div class="blocksmall">
            {% include "events-block.html" %}
            <div class="pad"></div>
            {% include "documents-block.html" %}
        </div>
    </div>
{% endblock %}