{% extends "base.html" %}
{% load thumbnail %}
{% block title %}News{% endblock %}
{% block content %}
    <div class="block">
        <div class="blockbig">
            <h1 class="rubrika"><a href="">News</a></h1>

            {% for article in object_list %}
                <div class="blockmain">
                    <div class="teaser">
                        {% thumbnail article.image "274x152" crop="center" as im %}
                            <img src="{{ im.url }}">
                        {% endthumbnail %}

                        <h2><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>
                        {{ article.content|striptags|safe|truncatechars:200 }}
                    </div>
                </div>
            {% endfor %}

            {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a href="{% url "post-list" %}?page={{ page_obj.previous_page_number }}">&laquo;Previous </a>
                        {% endif %}
                        <span class="page-current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                        {% if page_obj.has_next %}
                            <a href="{% url "post-list" %}?page={{ page_obj.next_page_number }}"> Next&raquo;</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
        </div>
        <div class="blocksmall">


            {% include "events-block.html" %}

            <div class="pad"></div>
            {% include "documents-block.html" %}
        </div>
    </div>
{% endblock %}