/*Register block
-----------------------------------------------------------------------------*/
#register{
	height: 210px;
	background-color: #efefef;
	padding-top: 30px;
}

#register_c{
	width: 926px;
	margin: 0 auto;
	height: 210px;
}

/* Style for Register tabs */
#register_tabs,
#register_tabs-no-js{
	width: 926px;
	height: 41px;
	background-image: url(../images/reg_tab_line.gif);
	background-position: bottom left;
	background-repeat: repeat-x;
	display: block;
}

.register_tabs_content{
	width: 926px;
	height: 123px;
	text-align: left;
	background-color: #dedede;
	background-image: url(../images/registration_bg.gif);
	background-position: bottom center;
	background-repeat: no-repeat;
}

.reg_tab_l{
	width: 174px;
	height: 123px;
	float: left;
	background-image: url(../images/reg_tab_r.gif);
	background-position: top right;
	background-repeat: no-repeat;
	display: inline;
}

.reg_tab_head_l{
	height: 32px;
	display: block;
	background-image: url(../images/reg_tab_head_l.gif);
	background-position: bottom left;
	background-repeat: no-repeat;
}

.reg_tab_head_l span{
	color: #676767;
	line-height: 32px;
	font-size: 14px;
	padding: 0 0 0 10px;
}

#r_soc{
	font-size: 12px;
}

#r_soc a, #reg_soc a:link{
	color: #676767;
	font-size: 12px;
	display: inline-block;
	margin: 10px 0 0 10px;
	text-decoration: none;
	white-space:  pre;
}

#r_soc a:hover{
	color: #676767;
	font-size: 12px;
	text-decoration: underline;
}

.r_google{
	background-image: url(../images/r_google.gif);
	padding-left: 20px;
	background-position: center left;
	background-repeat: no-repeat;
}

.r_facebook{
	background-image: url(../images/r_facebook.gif);
	padding-left: 20px;
	background-position: center left;
	background-repeat: no-repeat;
}

.r_twitter{
	background-image: url(../images/r_twitter.gif);
	padding-left: 20px;
	background-position: center left;
	background-repeat: no-repeat;
}


.reg_tab_r{
	width: 752px;
	height: 123px;
	float: left;
	display: inline;
}

.reg_tab_head_r{
	height: 32px;
	display: inline-block;
	background-image: url(../images/reg_tab_head_r.gif);
	background-position: bottom left;
	background-repeat: no-repeat;
}

.reg_tab_head_r span{
	color: #676767;
	line-height: 32px;
	font-size: 14px;
	padding: 0 0 0 32px;
}

#register_tabs ul ,
#register_tabs-no-js ul{
   list-style: none outside none;
}

#register_tabs ul li ,
#register_tabs-no-js ul li {
		margin: 0;
		float: left;
		display: inline;
}

#register_tabs li a ,
#register_tabs-no-js  li a{
	color:#fff;
	cursor: pointer;
	height: 41px;
	line-height: 41px;
	display: inline-block;
	text-decoration:none;
	font-size:22px;
	font-weight: bold;
	padding: 0 4px 0 0;
	margin: 0 5px 0 0;
	background-image: url(../images/tab_reg_r.gif);
	background-position: top right;
	background-repeat: no-repeat;
}

#register_tabs li a span,
#register_tabs-no-js li a span{
	background-image: url(../images/tab_reg.gif);
	background-position: top left;
	background-repeat: no-repeat;
	color:#fff;
	height: 41px;
	cursor: pointer;
	display: inline-block;
	padding: 0 0 0 4px;
}

#register_tabs li a:hover,
#register_tabs-no-js li a:hover{
	color:#fff;
	height: 40px;
}

#register_tabs li a.selected span,
#register_tabs-no-js li a.selected span{
	background-image: url(../images/tab_reg_active.gif);
	background-position: top left;
	background-repeat: no-repeat;
	color:#fff;
	height: 41px;
	cursor: pointer;
	display: inline-block;
	padding: 0 0 0 4px;
}

#register_tabs li a.selected,
#register_tabs-no-js li a.selected{
	display: inline-block;
	background-image: url(../images/tab_reg_active_r.gif);
	background-position: top right;
	background-repeat: no-repeat;
}

.reg_form{
	margin: 20px 0 0 32px;
}
.reg_form .form-item {
	display: inline;
    width: 225px;
}
.reg_input{
    background-image: url("../images/bg_form_reg.gif");
    background-position: left top;
    background-repeat: no-repeat;
    border: 0 none;
    height: 21px;
    line-height: 21px;
    margin-right: 10px;
    padding-left: 5px;
    width: 225px;
}

.reg_btn{
	width: 120px;
	height: 21px;
	background-image: url(../images/reg_btn.gif);
	background-position: top left;
	background-repeat: no-repeat;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	border: 0;
	margin-left: 5px;
	cursor: pointer;
}
#register_tabs ul li.freg_close 
{
    display: inline;
    float: right;
    height:41px;
    width:24px;
    margin: 0;
}

#register_tabs ul li.freg_close a
{
   background:url(../images/dialog-close.png) center center scroll transparent no-repeat;
   height:41px;
   width:24px;
}

#register_tabs ul li.freg_close a:hover
{
   background:url(../images/dialog-close_red.png) center center scroll transparent no-repeat;
   height:41px;
   width:24px;
}
/* step sign in */

#register_tabs .tab{
	height: 41px;
	display: inline-block;
	float: left;
	text-align: left;
	background-image: url(../images/tab_reg.gif);
	background-position: top left;
	background-repeat: no-repeat;
	background-color: #d7d2d2;
	color: #fff;
	padding: 0 0 0 8px;
	margin: 0 8px 0 0;
}

#register_tabs .tab span{
	display: inline-block;
	background-image: url(../images/tab_reg_r.gif);
	background-position: top right;
	background-repeat: no-repeat;
	padding: 6px 8px 0 0;
	font-size: 12px;
	line-height: 14px;
}



#register_tabs .tab span strong{
	font-size: 14px;
	font-weight: bold;
	display: block;
}

#register_tabs .tab.active{
	height: 41px;
	display: inline-block;
	float: left;
	background-image: url(../images/tab_reg_active.gif);
	background-position: top left;
	background-repeat: no-repeat;
	background-color: #fff;
	color: #fff;
	padding: 0 0 0 8px;
	margin: 0 8px 0 0;
}

#register_tabs .tab.active span{
	display: inline-block;
	background-image: url(../images/tab_reg_active_r.gif);
	background-position: top right;
	background-repeat: no-repeat;
	padding: 6px 4px 0 0;
	font-size: 12px;
}

.reg-info{
	color: #505050!important;
	width: 450px;
	margin: 5px 0 0 0;
	line-height: 16px;
}

.request-info{
	color: #505050!important;
	width: 450px;
	float: right;
	line-height: 16px;
	position: relative;
	top: -28px;
}

.reg_tab{
	width: 880px;
	height: 123px;
	float: left;
	display: inline;
}
#register-tab .hidden {
    display: inline;
    float: right;
}

#register-tab .selected {
	float:left;
}
#register_tabs li a.tab-first span {
	font-size: 12px;
    padding: 7px 0 0 4px;
    text-align: left;
} 
#register_tabs #register-tab .tab-first{
	line-height: 14px;
}
#register_tabs .tab-first span strong {
    display: block;
    font-size: 14px;
    font-weight: bold;
} 