#content_sitemap {
    color: #6D6D6D;
    padding: 40px 30px 40px 15px;
}

/*site-map*/
#site-map{
	text-align: justify;
  	text-justify:newspaper;
  	width:100%;
	margin-top: 20px;
	margin-bottom: 40px;
/*
	background-image: url(../images/sitemap_bg.gif);
	background-position: top left;
	background-repeat: repeat-y;*/
}


#site-map ul{
	list-style: none inside none;
}

#site-map a, #site-map a:link{
	font-size: 12px;
	color: #676767;
	text-decoration: underline;
}

#site-map a:hover{
	font-size: 12px;
	color: #676767;
	text-decoration: none;
}

#site-map h2{
	font-size: 24px;
	color: #064356;
	line-height: 24px;
	margin-bottom: 10px;
	font-weight: bold;
}

.site-map-front-page{
  display:-moz-inline-box; 
  display:inline-block;
  *display:inline;
  vertical-align:top;
  text-align:left;
  width: 310px;
}

.site-map-menus{
  display:-moz-inline-box; 
  display:inline-block;
  *display:inline;
  vertical-align:top;
  text-align:left;
  width: 310px;
}

.site-map-taxonomys{
  display:-moz-inline-box; 
  display:inline-block;
  *display:inline;
  vertical-align:top;
  text-align:left;
  width: 270px;
}

.site-map-box{
	margin-bottom: 20px;
	margin-left: 15px;
	padding: 0 0 10px 0;
	background-image: url(../images/news_hline.gif);
	background-position: bottom left;
	background-repeat: repeat-x;
	width: 270px;
}

.site-map-front-box{
	width: 285px;
	margin-bottom: 20px;
	margin-left: 0px;
	padding: 0 0 10px 0;
	background-image: url(../images/news_hline.gif);
	background-position: bottom left;
	background-repeat: repeat-x;
	
}

.site-map-terms-box{
	margin-bottom: 20px;
	padding: 0 0 10px 0;
	background-image: url(../images/news_hline.gif);
	background-position: bottom left;
	background-repeat: repeat-x;
	width: 240px;
}
/*end site-map*/
