{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
<head>
    <title>{% block title %}{% endblock %} | EJP.EU</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="{% static "favicon.ico" %}" type="image/x-icon"/>
    <link type="text/css" rel="stylesheet" href="{% static "css/ejp.css" %}"/>
    <link type="text/css" rel="stylesheet" href="{% static "css/style_ie.css" %}"/>
    <link type="text/css" rel="stylesheet" href="{% static "css/reset.css" %}"/>
    <link type="text/css" rel="stylesheet" href="{% static "css/lang.css" %}"/>
</head>
<body>
<div class="header">
    <div class="headerin">
        <div class="logo"><a href="/"><img src="{% static "img/logo3.png" %}" width="437" height="160" border="0" alt="EJP.EU"></a></div>
        <div class="dat">
            {% now "D, d M" %}
        </div>
    </div>

</div>
</div>

<div class="headers">
    <div class="shadow"></div>
    <div class="headersin">
        {% for menu_item in menu %}
            {% if forloop.first %}
               <a href="{{ menu_item.url }}" {% if menu_item.url == request.path %}class=active{% endif %}>{{ menu_item.title }}</a>
            {% else %}
                <a href="{{ menu_item.url }}" {% if menu_item.url in request.path %}class=active{% endif %}>{{ menu_item.title }}</a>
            {% endif %}
        {% endfor %}
    </div>
</div>
</div>
<div class="shadow"></div>


{% block content %}{% endblock %}


<div id="footer_bg">
    <div class="shadow"></div>
    <div id="footer">
        <div class="blockbig">
            <div class="blocksmallf2">
                <img style="float:left; margin-top:10px; padding:0 20px 80px;"
                     src="{% static "img/logosmall.png" %}" width="46" height="30" border="0" alt="ejp">
                223 Rue de la Loi 1040 Brussels Belgium<br>
                Tel: +32 2 588 00 89 Fax: +32 2 791 95 50<br>
                <a href="mailto:info@eju.org">info@eju.org</a>
                <br><br>
                <div class="copy">&copy; 2012-{% now "Y" %} EJP, All Rights Reserved</div>

            </div>


        </div>

    </div>
</div>

</body>
</html>