{% load thumbnail %}
{% if cp_event_block %}
    <h1 class="rubrika"><a href="{% url "document-list" %}">Documents</a></h1>
    {% for article in cp_document_block %}
        <h3><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>
        <hr>
    {% endfor %}
{% endif %}
