{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Main{% endblock %}

{% block content %}

    <div class="block">
        <div class="blockbig">
            <h1 class="rubrika"><a href=""><a href="{% url "post-list" %}">News</a></a></h1>

            <div class="blockmain">

                {% for article in news_block %}
                    {% if forloop.first %}
                        <div class="teaser">
                            {% thumbnail article.image "274x152" crop="center" as im %}
                                <img src="{{ im.url }}">
                            {% endthumbnail %}

                            <h2><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>
                            {{ article.content|striptags|safe|truncatechars:150 }}
                        </div>
                    {% else %}
                        <div class="newssmall">
                            {% thumbnail article.image "60x33" crop="center" as im %}
                                <img src="{{ im.url }}">
                            {% endthumbnail %}
                            <h3><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>


        <div class="blocksmall">
            <h1 class="rubrika"><a href="{% url "event-list" %}">EJP Events</a></h1>

            {% for article in events_block %}
                {% thumbnail article.image "60x33" crop="center" as im %}
                    <img src="{{ im.url }}">
                {% endthumbnail %}

                <h3><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>
                <hr>
            {% endfor %}


            <!--
    <a class="ejp-banner" href="http://jn1.tv/">
    <img src="/sites/default/themes/ejp_theme/img/jn.jpg" alt="" title="" width="310" height="46" />
    </a>
    -->
        </div>
    </div>
    <div class="shadow"></div>
    <div class="block">
        <div class="blockbig">
            <h1 class="rubrika"><a href="{% url "member-list" %}">Members</a></h1>
            {% for member in member_block %}
            <div class="members"><a href="{{ member.get_absolute_url }}">
                {% thumbnail member.image "30x45" crop="center" as im %}
                    <img src="{{ im.url }}">
                {% endthumbnail %} {{ member.name }} </a><br>
                {{ member.country }}
            </div>
            {% endfor %}

        </div>
        <!-- #news_mod-->

        <div class="blocksmall">
            <h1 class="rubrika"><a href="{% url "document-list" %}">Documents</a></h1>
            {% for article in documents_block %}
                <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock %}