{% load thumbnail %}
{% if cp_event_block %}
    <h1 class="rubrika"><a href="{% url "post-list" %}">News</a></h1>
    {% for article in cp_news_block %}
        {% thumbnail article.image "60x33" crop="center" as im %}
            <img src="{{ im.url }}">
        {% endthumbnail %}
        <h3><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>
        <hr>
    {% endfor %}
{% endif %}
