{% extends "base.html" %}
{% load thumbnail %}
{% block title %}{{ object.title }}{% endblock %}
{% block content %}
    <div class="block">
        <div class="blockbig">
            <div class="webform-confirmation">
                <p>Thank you, your submission has been received.</p>
            </div>

            <div class="links">
                <a href="/feedback">Go back to the form</a>
            </div>
        </div>
        <div class="blocksmall">
            {% include "news-block.html" %}
             <div class="pad"></div>
            {% include "events-block.html" %}
            <div class="pad"></div>
            {% include "documents-block.html" %}
        </div>
    </div>
{% endblock %}