.ui-tabs-vertical .ui-tabs-nav { float: left; list-style: none outside none; width: 100%;}
.ui-tabs-vertical .ui-tabs-nav li { 
  clear: left;
  width: 100%;
	color: #4B677D;
  }
.ui-tabs-vertical .ui-tabs-nav li a { color: black;
background-color: #F7F7F7;
    border-bottom: 1px solid #E6E6E6;
	border-right: 1px solid #E6E6E6;
    color: #4B677D;
    display: block;
    margin: 0;
    padding: 5px 15px;
    text-decoration: none;
	outline: medium none;
text-align: right;	}
#tabs .ui-tabs-nav .ui-tabs-selected {
	font-weight: bold;
	}
#tabs .ui-tabs-selected a {
    color: #505050;
font-weight: bold;
background:none repeat scroll 0 0 white;
border-right: 1px solid white;
	}
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}
.ui-tabs-hide {  
display: none;  
}
.main-group {
	margin-left: 175px;
} 
