* {
	margin: 0;
	padding: 0;
}

body {
	font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
	width: 100%;
	text-align: center;
}

.clearFloat {
  clear: both;
  display: block;
}

#step_reg{
	width: 940px;
	display: inline-block;
	text-align: left;
	color: #505050;
	min-height: 320px;
}

#step_reg .head{
	width: 940px;
	height: 48px;
	display: block;
}

#step_reg .head_b{
	width: 940px;
	height: 2px;
	display: block;
	background-image: url(../images/head_b.gif);
	background-position: top left;
	font-size: 1px; 
}

#step_reg .tab{
	height: 48px;
	display: inline-block;
	float: left;
	background-image: url(../images/step_tabs_l.gif);
	background-position: top left;
	background-repeat: no-repeat;
	background-color: #d7d2d2;
	color: #fff;
	padding: 0 0 0 4px;
	margin: 0 4px 0 0;
}

#step_reg .tab span{
	display: inline-block;
	background-image: url(../images/step_tabs_r.gif);
	background-position: top right;
	background-repeat: no-repeat;
	padding: 6px 4px 0 0;
	font-size: 14px;
}

#step_reg .tab.active{
	height: 48px;
	display: inline-block;
	float: left;
	background-image: url(../images/step_tabs_active_l.gif);
	background-position: top left;
	background-repeat: no-repeat;
	background-color: #fff;
	color: #fff;
	padding: 0 0 0 4px;
	margin: 0 4px 0 0;
}

#step_reg .tab.active span{
	display: inline-block;
	background-image: url(../images/step_tabs_active_r.gif);
	background-position: top right;
	background-repeat: no-repeat;
	padding: 6px 4px 0 0;
	font-size: 14px;
}

#step_reg .tab span strong{
	font-size: 18px;
	font-weight: bold;
	display: block;
}

#step_reg .step{
	background-image: url(../images/step_reg_bg.png);
	background-position: top right;
	background-repeat: no-repeat;
	background-color: #f2f2f2;
	width: 940px;
	height: auto;
	padding: 25px 0 0 0; 
}

#step_reg .item{
	width: 390px;
	display: inline-block;
	float: left;
	margin: 0 0 0 15px;
}

#step_reg .item.last{
	width: 490px;
	display: inline-block;
	float: left;
	margin: 0 0 0 15px;
}

#step_reg .item.one{
	width: 600px;
	display: inline-block;
	float: left;
	margin: 0 0 0 15px;
}

#step_reg .item.one p{
	padding: 20px 0 0 0;
}

#step_reg .item a, #step_reg .item a:link{
	text-decoration: none;
	color: #4b677d;
}

#step_reg .item a:hover{
	text-decoration: underline;
	color: #4b677d;
}


#step_reg h1{
	display: block;
	font-size: 18px;
	color: #064356;
	margin: 0 0 15px 15px;
}

#step_reg p{
	margin: 0 0 15px 0;
}

.marker, .form-required {
    color: #FF0000;
}

#step_reg fieldset {
    border: 0 none;
}

#step_reg label {
    color: #505050;
    display: inline-block;
    width: 150px;
	 text-align: right;
}

#step_reg .input, #profile_form_profile #edit-pass-wrapper #edit-pass-pass1, #profile_form_profile #edit-pass-wrapper #edit-pass-pass2{
	background-image: url(../images/input_step_reg.gif);
	background-position: top left;
	background-repeat: repeat-x;
   border-color: #E6E6E6;
   border-style: solid;
   border-width: 0 1px 0 1px;
   color: #575B5C;
   height: 23px;
   line-height: 23px;
   margin: 0 0 0 0;
   padding: 0 0 0 5px;
   width: 230px;
}


#step_reg .step_bn{
	 background-image: url(../images/step_bn_bg.gif);
	 background-position: bottom left;
	 background-repeat: no-repeat;
	 background-color: #f2f2f2;
	 display: inline-block;
	 *display: inline;
	 height: 62px;
	 position: absolute;
}


#step_reg .step_bn span{
	 background-image: url(../images/step_bn_bg_r.gif);
	 background-position: bottom right;
	 background-repeat: no-repeat;
	 display: inline-block;
	 height: 62px;
	 padding: 0 15px 0 15px;
}

#step_reg .step_bn span a, #step_reg .step_bn span a:link{
	background-image: url(../images/step_bn_l_h.gif);
	background-position: top left;
	background-repeat: no-repeat;
	display: block;
	*display: inline;
	padding: 0 0 0 7px;
	margin: 10px 0 0 0;
	color: #fff;
	text-decoration: none;
	line-height: 16px;
	height: 38px;
	cursor: pointer;
	float: left;
}

#step_reg .step_bn span a:hover{
	background-image: url(../images/step_bn_l.gif);
	background-position: top left;
	background-repeat: no-repeat;
	display: block;
	*display: inline;
	padding: 0 0 0 7px;
	margin: 10px 0 0 0;
	color: #fff;
	text-decoration: none;
	line-height: 16px;
	height: 38px;
	cursor: pointer;
}

#step_reg .step_bn span a span, #step_reg .step_bn span a:link span{
	background-image: url(../images/step_bn_h.gif);
	background-position: top right;
	background-repeat: no-repeat;
	display: block;
	*display: inline;
	padding: 0 80px 0 0;
	height: 38px;
	line-height: 10px;
	cursor: pointer;
}

#step_reg .step_bn span a:hover span{
	background-image: url(../images/step_bn.gif);
	background-position: top right;
	background-repeat: no-repeat;
	display: block;
	padding: 0 80px 0 0;
	height: 38px;
	line-height: 10px;
	cursor: pointer;
}

#step_reg .step_bn span a span strong{
	display: block;
	line-height: 22px;
	font-size: 16px;
	cursor: pointer;
}

#step_reg .step_reg_photo, #step_reg .step_reg_img{
	width: 95px;
	height: 122px;
	float: left;
	margin: 0 15px 0 0;
}


#step_reg .form-file label{
	font-size: 10px;
	width: 230px;
	text-align: left;
}

#step_reg .txt-upload{
	width: 230px;
	float: left;
	border-top: 1px solid #000;
	padding: 10px 0 0 0;
	margin: 10px 0 0 0;
}

#step_reg .skip{
	margin: 10px 0 0 0;
	font-size: 14px;
}

#step_reg .step_bn span a.grey, #step_reg .step_bn span a.grey:link{
	background-image: url(../images/step_bn_r_h_g.gif);
	background-position: top right;
	background-repeat: no-repeat;
	display: block;
	*display: inline;
	padding: 0 7px 0 0;
	margin: 10px 15px 0 0;
	color: #fff;
	text-decoration: none;
	line-height: 16px;
	height: 38px;
	cursor: pointer;
	float: left;
}

#step_reg .step_bn span a.grey:hover{
	background-image: url(../images/step_bn_r_g.gif);
	background-position: top right;
	background-repeat: no-repeat;
	display: block;
	*display: inline;
	padding: 0 7px 0 0;
	margin: 10px 15px 0 0;
	color: #fff;
	text-decoration: none;
	line-height: 16px;
	height: 38px;
	cursor: pointer;
}

#step_reg .step_bn span a.grey span, #step_reg .step_bn span a.grey:link span{
	background-image: url(../images/step_bn_h_g.gif);
	background-position: top left;
	background-repeat: no-repeat;
	display: block;
	*display: inline;
	padding: 0  0 0 80px;
	height: 38px;
	line-height: 10px;
	cursor: pointer;
}

#step_reg .step_bn span a.grey:hover span{
	background-image: url(../images/step_bn_g.gif);
	background-position: top left;
	background-repeat: no-repeat;
	display: block;
	padding: 0 0 0 80px;
	height: 38px;
	line-height: 10px;
	cursor: pointer;
}


#step_reg .step_bn span .submit-wrapper{
	background-image: url(../images/step_bn_l_h_z.gif);
	background-position: top left;
	background-repeat: no-repeat;
	display: block;
	*display: inline;
	padding: 0 0 0 7px;
	margin: 10px 0 0 0;
	color: #fff;
	text-decoration: none;
	line-height: 16px;
	height: 38px;
	cursor: pointer;
	float: left;
}
#step_reg .step_bn span .submit-wrapper #edit-submit{
    background-image: url("../images/step_bn_h_z.gif");
    background-position: right top;
    background-repeat: no-repeat;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
	display: block;
	*display: inline;
    font-size: 16px;
    font-weight: bold;
    height: 38px;
    text-align: left;
    text-decoration: none;
    width: 200px;
}
#step_reg .step_bn span .submit-wrapper:hover{
	background-image: url(../images/step_bn_l_z.gif);
	background-position: top left;
}

#step_reg .step_bn span .submit-wrapper input#edit-submit:hover{
    background-image: url("../images/step_bn_z.gif");
    background-position: right top;
}

#edit-picture-upload-wrapper {
	margin:0;
}
#edit-picture-upload-wrapper .description{
	width:auto;
	margin:0;
}

#second_step .password-description {
	margin: 0 0 0 152px;
	width: 233px;
}
#edit-profile-first-time-wrapper {
	display:none;
}
#edit-attach-picture {
	background-color: #EBEBEB;
    border: 1px solid #A9B5BD !important;
    color: #676767;
    text-transform: uppercase;
    width: auto;

}
.customInputFile {
  border: 1px solid #f4f4f4;
  overflow: hidden;
  padding: 4px;
  width: 100px;
  text-align: center;
}
.customInputFileName {
  padding: 2px;
  border: 1px solid #f4f4f4;
  display: none;
}
.customInputFileHover {
  background: #f2f2f5;
  border: 1px solid #787878;
}
.customInputFileActive {
  background: #bbd2e0;
  border: 1px solid #003250;
}
.customInputFileActive.customInputFileHover {
  background: #787878;
  color: #f2f2f5;
}
input[type="file"] {
  font-size: 4px;
}
/*
.customInputFile {
    background-color: #EBEBEB;
    border: 1px solid #A9B5BD !important;
    color: #676767;
    margin-bottom: 10px;
    text-transform: uppercase;
    width: auto;
}
.customInputFile {
	font-size: 14px;
    line-height: 16px;
    overflow: hidden;
    padding: 2px;
    text-align: center;
    width: 60px;
	z-index:10000;
	}
.customInputFileHover {
  background: #f2f2f5;
  border: 1px solid #787878;

}
.customInputFileActive {
  background: #bbd2e0;
  border: 1px solid #003250;
}
.customInputFileActive.customInputFileHover {
  background: #787878;
  color: #f2f2f5;
}
input[type="file"] {
  font-size: 4px;
}

.customInputFileWrapper {
	direction: ltr;
    height: 30px;
    left: 93px;
	margin: -18px 0 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    top: 1px;
    width: 70px;
    z-index: 900;
	visibility:hidden;
	}
.customInputFileName {
    left: 200px;
    position: absolute;
	margin-top: -32px;
    width: 20px;
}
#file-name-wrapper {
	display: inline;
    float: left;
	margin: 0 6px 0 0;
    position: relative;
    width: 160px;
}
#file-name {
	height: 18px;
    width: 167px;
	border: 1px solid #A9B5BD !important;
    color: #676767;
}
.customInputFileWrapper input {
	position: static;
	z-index:1;
	filter: alpha(opacity: 0);
	opacity:0.0;
	outline: medium none;
}*/